<div class="d-flex justify-content-center container">
    <!-- <div class="card my-5 w-75 shadow bg-white rounded donor">
        <h3 class="card-header text-primary fw-bold">Your Requests</h3>
        <div class="card-body">
            <table class="table table-bordered table-striped" [hidden]="showReport" *ngIf="requests.length; else noRequest">
                <thead class="table-primary">
                    <tr>
                        <th scope="col">Doctor ID</th>
                        <th scope="col">Requested Date</th>
                        <th scope="col">Your Problem</th>
                        <th scope="col">Response</th>
                        <th scope="col">Status</th>
                        <th scope="col">Report</th>
                    </tr>
                </thead>
                <tbody *ngFor="let req of requests">
                    <tr>
                        <td>{{req.doctorId}}</td>
                        <td>{{req.date}}</td>
                        <td>{{req.problem}}</td>
                        <td>
                            <span *ngIf="req.response; else noResponse">{{req.response}}</span>
                            <ng-template #noResponse>
                                <span>Pending</span>
                            </ng-template>
                        </td>
                        <td *ngIf="req.status"><button class="btn btn-outline-success btn-sm ms-2"><span
                                    class="material-icons-outlined me-2">
                                    thumb_up_alt
                                </span></button></td>
                        <td *ngIf="!req.status && !req.rejected"><button class="btn btn-outline-secondary btn-sm ms-2"><span
                                    class="material-icons-outlined me-2">
                                    pending_actions
                                </span></button></td>

                        <td *ngIf="req.rejected"><button class="btn btn-outline-danger btn-sm ms-2" (click)="deleteRequest(req.patientId,req.date)"><span
                                    class="material-icons-outlined me-2">
                                    delete
                                </span></button>
                        </td>
                        <td><button type="button" class="btn btn-outline-primary ms-2" (click)="report(req)"
                                [disabled]="!req.visited">View Report</button></td>
                    </tr>
                </tbody>
            </table> -->
    <div class="display-content" [hidden]="showReport" *ngIf="requests.length; else noRequest">
        <p class="fs-2 text-center text-primary fw-bold  mt-2 mb-4" style="margin-left: 50%;"><u>Your Appointment Requests</u></p>
        <div class="row" *ngFor="let req of requests">
            <div class="col-lg-5 col-md-5 d-sm-none d-md-block">
                <div class="card text-dark mt-3 mb-3 shadow bg-white rounded"
                    style="width: 18rem;padding: 10px;margin-left: 35%;">
                    <div class="card-body">
                        <h5 class="card-title text-primary"><b>Request ID:</b>&nbsp;{{req.requestId}}</h5>
                        <p class="card-text"><b class="text-secondary">Requested Date:</b>&nbsp; {{req.date}}</p>
                        <p class="card-text"><b class="text-secondary">Status:</b>&nbsp; <span *ngIf="req.status">
                                <button class="btn btn-outline-success btn-sm ms-2"><span
                                        class="material-icons-outlined me-2" style="float: left;">
                                        thumb_up_alt
                                    </span> Approved</button></span>
                            <span *ngIf="!req.status && !req.rejected">
                                <button class="btn btn-outline-secondary btn-sm ms-2"><span
                                        class="material-icons-outlined me-2" style="float: left;">
                                        pending_actions
                                    </span>Pending</button>
                            </span>
                            <span *ngIf="req.rejected">
                                <button class="btn btn-outline-danger btn-sm ms-2"><span
                                        class="material-icons-outlined me-2" style="float: left;">
                                        thumb_down
                                    </span>Rejected</button>
                            </span>

                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 offset-sm-2 col-lg-7 col-md-7 offset-md-0">
                <div class="card text-dark bg-white mb-3 mt-3 shadow rounded"
                    style="width:50rem; margin-left: 25%;padding: 15px;">
                    <div class="card-body">
                        <ul class="nav position-absolute top-0 end-0 mt-5 me-2">
                            <li><span *ngIf="req.visited"><button class="btn btn-success btn-sm" (click)="report(req)">View Report</button></span>
                                <span *ngIf="!req.visited && !req.rejected"><button class="btn btn-secondary btn-sm">Report Pending</button></span>
                            </li>
                            <li [hidden]="!req.rejected"><button class="btn btn-danger btn-sm ms-2" (click)="deleteRequest(req.patientId,req.date)"><span
                                class="material-icons-outlined me-2" style="float: left;">
                                delete
                            </span>Delete</button></li>
                        </ul>
                        <h5 class="card-title text-primary"><b>{{req.doctorId}}: </b>{{req.doctorName}}</h5>
                        <p class="card-text"><b class="text-secondary">Your Problem:</b>&nbsp; {{req.problem}}</p>
                        <p class="card-text"><b class="text-secondary">Doctor Response:</b>&nbsp; <span
                                *ngIf="req.response; else noResponse">{{req.response}}</span>
                            <ng-template #noResponse>
                                <span>Pending</span>
                            </ng-template>
                        </p> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card w-75 shadow bg-white rounded donor" [hidden]="!showReport" style="left: 25%;">
        <h3 class="card-header text-primary fw-bold">Your Requests</h3>
        <div class="card-body">
            <div #patientReport id="patientReport">
                <img src="https://as1.ftcdn.net/jpg/03/24/58/44/500_F_324584485_qtdluDzmBNkJvmntEPlNeG1htwPktgCa.jpg"
                    crossorigin="anonymous" class="rounded-circle mx-auto d-block border border-primary p-3"
                    style="height: 125px;" alt="">
                <form>
                    <div class="form-group">
                        <label for="docID">Doctor ID</label>
                        <input type="text" class="form-control" name="docID" [(ngModel)]="request.doctorId" disabled
                            readonly>
                    </div>
                    <div class="form-group">
                        <label for="docName">Doctor Name</label>
                        <input type="text" class="form-control" name="docName" [(ngModel)]="request.doctorName" disabled
                            readonly>
                    </div>
                    <div class="form-group">
                        <label for="patientId">Patient ID</label>
                        <input type="text" class="form-control" name="patientId" [(ngModel)]="request.patientId"
                            disabled readonly>
                    </div>
                    <div class="form-group">
                        <label for="patientName">Patient Name</label>
                        <input type="text" class="form-control" name="patientName" [(ngModel)]="request.patientName"
                            disabled readonly>
                    </div>
                    <div class="form-group">
                        <label for="appDate">Appointment Date</label>
                        <input type="text" class="form-control" name="appDate" [(ngModel)]="request.date" disabled
                            readonly>
                    </div>
                    <div class="mb-3" style="margin: 15px">
                        <label for="patientProblem" class="form-label">Patient Problem</label>
                        <textarea class="form-control" name="patientProblem" [(ngModel)]="request.problem" disabled
                            readonly rows="2"></textarea>
                    </div>
                    <div class="mb-3" style="margin: 15px">
                        <label for="prescription" class="form-label">Prescription</label>
                        <textarea class="form-control" name="prescription" rows="2" [(ngModel)]="request.prescription"
                            disabled readonly></textarea>
                    </div>
                    <button class="btn btn-outline-success mt-2 ms-3" style="width: 15rem;"
                        (click)="exportAsPDF(patientReport)"><span class="material-icons-outlined" style="float: left;">
                            file_download
                        </span>Download report as PDF</button>
                </form>
            </div>
            <a class="btn btn-outline-danger btn-sm" [routerLink]="['/service']"
                style="width: 10rem; float: right;"><span class="material-icons-outlined" style="float: left;">arrow_back</span>Go back</a>
            <ng-template #noRequest>
                <div class="card shadow rounded no-request " style="width: 25rem;">
                    <div class="card-body">
                        <div class="alert alert-danger text-center">
                            No Requests
                        </div>
                        <div class="text-center">
                            <a [routerLink]="['/doctors']" class="btn btn-outline-primary mt-1">Book an appointment</a>
                        </div>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</div>