<div class="d-flex justify-content-center container">
    <div class="card my-5 shadow bg-white rounded donor">
        <h3 class="card-header text-primary fw-bold">Doctors: <span style="float: right;"><button
                    class="btn btn-outline-primary btn-sm" (click)="form(true,false)">Add Doctor</button></span></h3>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-striped" *ngIf="!addDoc">
                    <thead class="table-primary">
                        <tr>
                            <th scope="col">Doctor ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Speciality</th>
                            <th scope="col">Availability</th>
                            <th scope="col">Operations</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let doctor of doctors">
                        <tr>
                            <td>{{doctor.id}}</td>
                            <td>{{doctor.name}}</td>
                            <td>{{doctor.speciality}}</td>
                            <td *ngIf="doctor.availability; else notAvailable"><button
                                    class="btn btn-outline-success">Available</button></td>
                            <ng-template #notAvailable>
                                <td><button class="btn btn-outline-danger">Not Available</button></td>
                            </ng-template>
                            <td>
                                <div class="operation-buttons">
                                    <button class="btn btn-outline-primary" (click)="editDoctor(doctor.id)"><span
                                            class="material-icons-outlined">
                                            edit
                                        </span></button>
                                    <button class="btn btn-outline-danger" (click)="deleteDoctor(doctor.id)"><span
                                            class="material-icons-outlined">
                                            delete
                                        </span></button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <form #addForm="ngForm" ngNativeValidate *ngIf="addDoc">
                <img src="https://as1.ftcdn.net/jpg/03/24/58/44/500_F_324584485_qtdluDzmBNkJvmntEPlNeG1htwPktgCa.jpg"
                    crossorigin="anonymous" class="rounded-circle mx-auto d-block border border-primary p-3"
                    style="height: 125px;" alt="">
                <div class="form-group">
                    <label for="docId" class="text-primary mb-2">Doctor ID</label>
                    <input type="text" class="form-control" name="docId" [(ngModel)]="doctor.id" [disabled]="editable"
                        required>
                </div>
                <div class="form-group">
                    <label for="docName" class="text-primary mb-2">Doctor Name</label>
                    <input type="text" class="form-control" name="docName" [(ngModel)]="doctor.name" required>
                </div>
                <div class="form-group mb-2">
                    <label for="docSpeciality" class="text-primary mb-2">Speciality</label>
                    <input type="text" class="form-control" name="docSpeciality" [(ngModel)]="doctor.speciality"
                        [disabled]="editable" required>
                </div>
                <div class="availability" *ngIf="editable" style="margin: 20px;">
                    <label for="check-box" class="text-primary ms-2 mt-3 mb-4">Availability:</label>
                    <div class="form-check form-check-inline ms-2" id="check-box">
                        <input class="form-check-input" type="radio" name="availability" id="yes" value="true"
                            [(ngModel)]="doctor.availability" checked>
                        <label class="form-check-label text-dark" for="yes">
                            Available
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="availability" id="no" value="false"
                            [(ngModel)]="doctor.availability">
                        <label class="form-check-label text-dark" for="no">
                            Not Available
                        </label>
                    </div><br>
                </div>
                <div class="buttons" style="margin: 20px;">
                    <button type="submit" style="width: 10rem;" (click)="addDoctor()"
                        class="btn btn-outline-success mt-2 ms-2" *ngIf="addDoc && !editable">Add</button>
                    <button type="submit" style="width: 10rem;" (click)="updateDoctor()"
                        class="btn btn-outline-success mt-2 ms-2" *ngIf="editable">Edit</button>
                    <button type="button" (click)="form(false,false)" style="float: right;width: 10rem;"
                        class="btn btn-outline-danger me-2 mt-2">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>