.container{
    margin-top: 70px;
    position:absolute;
    left:15%;
}
.container .card{
    width: 50%;
}
.form-control{
    margin-bottom: 15px;
}

label{
    margin-bottom: 5px;
    font-weight: bold;
    color: #6174f0;
}
@media screen and (max-width:750px) {
    .container{
        position: none;
        left:0%;
    }
    .container .card{
        width: 25rem;
    }
}